In [12]:
import numpy as np
import pandas as pd

In [5]:
mat = np.arange(0, 100).reshape(10, 10)
mat

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [11]:
mat[5]

array([50, 51, 52, 53, 54, 55, 56, 57, 58, 59])

In [19]:
df = pd.read_csv('0-02-Pandas-Crash-Course/salaries.csv')
print(df)

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [20]:
print(df['Name'])
print(df['Salary'])

0      John
1     Sally
2    Alyssa
Name: Name, dtype: object
0     50000
1    120000
2     80000
Name: Salary, dtype: int64

In [21]:
# note the double brackets / passing a list
print(df[['Name', 'Salary']])

     Name  Salary
0    John   50000
1   Sally  120000
2  Alyssa   80000

In [22]:
print(df['Age'].mean())

35.333333333333336

In [23]:
# create the filter
ser_of_bool = df['Age'] > 30
print(ser_of_bool)

0     True
1     True
2    False
Name: Age, dtype: bool

In [25]:
# apply the filter
age_filter = df['Age'] > 30
print(df[age_filter])

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [26]:
# put filter directly in []
df[df['Age'] > 30]

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [31]:
# df.info()  # General info about your dataframe
# df.describe()  # Statistics about your dataframe
# df.columns  # Grab a list of all columns
df.index  # Create an index list

RangeIndex(start=0, stop=3, step=1)

In [34]:
# You can convert a numpy matrix to a dataframe with:
mat = np.arange(10).reshape(5, 2)
pd.DataFrame(mat, columns=['A', 'B'])

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [38]:
random_numbers = np.random.randint(0, 100, 200)
random_mat = random_numbers.reshape(50, 4)
col_names = 'A B C D'.split()
df = pd.DataFrame(data=random_mat, columns=col_names)
df

     A   B   C   D
0   93  40  28  56
1   40   0  15  61
2   29  23  82  33
3   76  33  79  56
4   84  12  33   8
5   47  30  16  35
6    0  32  66  11
7   51  71  81  87
8   66  15  57  94
9   36  50  84  15
10  92  15  67  23
11  24  15  74  22
12  54  69  54  59
13  33  43  73  51
14  53  58  93  92
15  33  18   3  64
16  27  97  80  30
17  91  74  22  45
18   2   5  99  44
19  64  96   0  18
20  26  96  50  33
21  35  15  88  29
22  52  81  71  19
23  29  86  69  49
24  13  94  57  31
25  21  70   4  90
26   9  44  33  37
27  11  39  74  58
28  28  73  19  24
29  30  72  59   3
30  38  47  50  79
31  93  68  55  85
32  75  15  17  98
33  46  95  40  95
34  32   0  24  18
35  82  41  51  30
36  78  54  87  89
37  32  55  38  97
38   9  62  35  39
39  37  27  23  69
40  13  21  43  23
41  43  47  86  62
42  28  38  73  23
43  35  81  28  99
44  78  54  63   9
45  71  22  82  59
46   9  87  16  68
47  44  24  13  42
48  51  89  32  18
49  92  40  85  42

In [41]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np

np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

# list
data = [go.Scatter(
    x=random_x,
    y=random_y,
    mode='markers'
)]

pyo.plot(data, filename='scatter1.html')

'file:///home/scott/PycharmProjects/Plotly-Dashboards-with-Dash/scatter1.html'

In [42]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np

np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

# list
data = [go.Scatter(
    x=random_x,
    y=random_y,
    mode='markers',
)]

layout = go.Layout(
    # Graph title
    title='Random Data Scatterplot',
    # x-axis label
    xaxis=dict(title='Some random x-values'),
    # y-axis label
    yaxis=dict(title='Some random y-values'),
    # handles multiple points landing on the same vertical
    hovermode='closest'
)

fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='scatter2.html')

'file:///home/scott/PycharmProjects/Plotly-Dashboards-with-Dash/scatter2.html'

In [44]:
import plotly.offline as pyo
import plotly.graph_objs as go
import numpy as np

np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

data = [go.Scatter(
    x=random_x,
    y=random_y,
    mode='markers',
    marker=dict(  # change the marker style
        size=12,
        color='rgb(51,204,153)',
        symbol='pentagon',
        line=dict(
            width=2,
        )
    )
)]
layout = go.Layout(
    title='Random Data Scatterplot',  # Graph title
    xaxis=dict(title='Some random x-values'),  # x-axis label
    yaxis=dict(title='Some random y-values'),  # y-axis label
    hovermode='closest'  # handles multiple points landing on the same vertical
)
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='scatter3.html')

'file:///home/scott/PycharmProjects/Plotly-Dashboards-with-Dash/scatter3.html'

ImportError: attempted relative import with no known parent package